/* @font-face {
  font-family: 'Nimbus Sans L';
  src: url('NimbusSanL-Reg.woff') format('woff'),
      url('NimbusSanL-Reg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

html{
  font-family: 'Montserrat', sans-serif;
}
.cards-container {
    height: 450px;
    display:flex;
    justify-content: center;
    align-items: center;
  }

 
.card {
    position: relative;
     width: 500px;
     height: 300px;
     background-color: #FFFBF7;
     border: 1px solid #dcd9d7;
     box-shadow: 3px 3px 3px 0px rgba(158, 147, 147, 0.68);
     box-sizing: border-box;
     padding: 40px;
     border-radius: 25px;
     display: flex;
     justify-content: center;
     text-align:center;
     background-image: url("https://img.freepik.com/fotos-kostenlos/grunge-wand-textur_1194-5384.jpg?size=626&ext=jpg");
     background-image: url("https://images.unsplash.com/photo-1516541196182-6bdb0516ed27?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80");
    }


p {
  position: relative;
  display: block;
  padding: 16px 32px;
  font-size: 20px;
  font-weight: 700;
  color: #C10016;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-family:'Montserrat', sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  color: #C10016;
  position: absolute;
  bottom: 15px;
  text-align: center;
}

h1
{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #C10016;
  font-weight:800px;
}

#score {
  position:relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 20;
  font-weight: 700;
  text-transform: uppercase;
  color: #C10016;
  font-weight:800px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  margin-right:0 px;
}

.myButton {
	background-color:#C10016;
	border-radius:11px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
  font-size:12px;
  text-transform: uppercase;
	padding:14px 35px;
	text-decoration:none;
}
.myButton:hover {
	background-color:rgba(137, 17, 17, 0.843);
}
.myButton:active {
	position:relative;
	top:1px;
}

.btn {
  display: flex;
  direction: column;
  justify-content: center;
  align-items: flex-end;  
}

.tabs-controls {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 50px 0 100px;
  list-style-type: none;
  
}

.tabs-controls__link {
  
  font-family: 'Montserrat', sans-serif;
  position: relative;
  display: block;
  padding: 16px 32px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  text-decoration:none;
  color: #C10016;
 }

 .underline {
  border-bottom: 2px solid currentColor;
  color: #C10016;
}

.colouredCard {
  background-color: #C10016;
  border: 1px solid #C10016;
  background-image: none;
   ;
}

.colouredText {
  color: white;
  font-weight:700;
}

.colouredTitle {
  color: white;
}

.img {
  width: 550px;
  height: 690px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: 30px;
  transform: translate(-50%, -50%);
  opacity: 0.6;
}

.imgContainer p{
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:black;
  text-align:center;
  line-height:220%;
  font-size: 15.5px;
  font-family:'Reenie Beanie';
  letter-spacing: 1px;
      
}

.imgContainer h3{
  position: absolute;
  top: 26%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:#C10016;
  text-transform: uppercase;
  font-family:'Reenie Beanie';
  line-height:200%;
  letter-spacing: 1px;
}

 .StartBtn {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:#C10016;
  text-transform: upperrcase;
 }
 
 #backgroundWhite {
  position: absolute;
  top: 0;
  left: 0%;
  background:white;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
 }


 @media (min-width: 300px) and (max-width: 850px) {
 .imgContainer {
    margin: auto;
    width: 100%;
    display:flex;
    justify-content: center;
    text-align: center;
 } 

 .img {
  margin: auto;
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
  text-align: center;
} 

.imgContainer h3{
  top: 11%;
  line-height:150%;
  letter-spacing: 1px;
}

.tabs-controls__link {
    font-size: 12px;
 }

.navBarLevels {
  margin-top: 0vh;
  height: 2em;
}

#score {
  margin-top:15vh;
  font-size: 12px;
  font-weight: 700;
}

p {
  position: relative;
  display: block;
  padding: 10px 8px;
  font-size: 13px;
  font-weight: 700;
  line-height:100%;
}
.card {
  height: 33vh;
  }

.cards-container {
  height:55vh;
}

h1 {
  font-size: 12px;
  margin-bottom: 0px;
}

h2 {
  font-size:9px;
}

.tabs-controls {
  padding: 10px 0 30px 0;
}

.StartBtn {
  top: 90%;
}

}
 
