/* @font-face {
  font-family: 'Nimbus Sans L';
  src: url('NimbusSanL-Reg.woff') format('woff'),
      url('NimbusSanL-Reg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

@font-face {
  font-family: 'Springwood Line DEMO';
  src: url('SpringwoodLineDEMO-Regular.woff2') format('woff2'),
      url('SpringwoodLineDEMO-Regular.woff') format('woff'),
      url('SpringwoodLineDEMO-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.cards-container {
    height: 450px;
    display:flex;
    justify-content: center;
    align-items: center;
  }

 
.card {
    position: relative;
     width: 500px;
     height: 300px;
     background-color: #FFFBF7;
     border: 1px solid #E6E3E0;
     box-shadow: 4px 4px 2px 0px rgba(158, 147, 147, 0.344);
     box-sizing: border-box;
     padding: 40px;
     border-radius: 25px;
     display: flex;
     justify-content: center;
     text-align:center;
}

p {
  position: relative;
  display: block;
  padding: 16px 32px;
  font-size: 20px;
  font-weight: 700;
  color: #C10016;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

h2 {
font-family:'Montserrat', sans-serif;
font-size: 13px;
text-transform: uppercase;
color: #C10016;
position: absolute;
bottom: 15px;
text-align: center;


}

h1
{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #C10016;
  font-weight:800px;
}

#score {
  position:relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 20;
  text-transform: uppercase;
  color: #C10016;
  font-weight:800px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  margin-right:0 px;
}

.myButton {
	background-color:#C10016;
	border-radius:11px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: "Montserrat", sans-serif;
	font-size:16px;
	font-weight:bold;
	padding:16px 38px;
	text-decoration:none;
}
.myButton:hover {
	background-color:rgba(137, 17, 17, 0.843);
}
.myButton:active {
	position:relative;
	top:1px;
}

.btn {
  display: flex;
  direction: column;
  justify-content: center;
  align-items: flex-end;  
}

.tabs-controls {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 50px 0 100px;
  list-style-type: none;
}

.tabs-controls__link {
  
  font-family: 'Montserrat', sans-serif;
  position: relative;
  display: block;
  padding: 16px 32px;
  font-size: 20px;
  font-weight: 700;
  color: #C10016;
  text-transform: uppercase;
  text-decoration:none;
 }

 .underline {
  border-bottom: 2px solid currentColor;
  color: #C10016;
}

.colouredCard {
  background-color: #C10016;
  border: 1px solid#C10016;
}

.colouredText {
  color: white;
}

.colouredTitle {
  color: white;
}

.img {
  width: 550px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: 30px;
  transform: translate(-50%, -50%);
}

.imgContainer p{
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:black;
    text-align:center;
  line-height:220%;
  font-size: 12px;
  
}

.imgContainer h3{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:#C10016;
  text-transform: lowercase;
}

.imgContainer h4{
  position: absolute;
  top: 67%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:#C10016;
  text-transform: lowercase;
  font-size: 20px;
 }

 .StartBtn {
  position: absolute;
  top: 82%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:#C10016;
  text-transform: lowercase;
 }
 }

