/* @font-face {
  font-family: 'Nimbus Sans L';
  src: url('NimbusSanL-Reg.woff') format('woff'),
      url('NimbusSanL-Reg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

html{
  font-family: 'Lato', sans-serif;
}
.cards-container {
    height: 450px;
    display:flex;
    justify-content: center;
    align-items: center;
  }

 
.card {
    position: relative;
     width: 500px;
     height: 300px;
     background-color: #FFFBF7;
     border: 1px solid #E6E3E0;
     box-shadow: 4px 4px 2px 0px rgba(158, 147, 147, 0.344);
     box-sizing: border-box;
     padding: 40px;
     border-radius: 25px;
     display: flex;
     justify-content: center;
     text-align:center;
     background-image: url("https://img.freepik.com/fotos-kostenlos/grunge-wand-textur_1194-5384.jpg?size=626&ext=jpg");
  }

p {
  position: relative;
  display: block;
  padding: 16px 32px;
  font-size: 20px;
  font-weight: 700;
  color: #C10016;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

h2 {
font-family:'Montserrat', sans-serif;
font-size: 13px;
text-transform: uppercase;
color: #C10016;
position: absolute;
bottom: 15px;
text-align: center;


}

h1
{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #C10016;
  font-weight:800px;
}

#score {
  position:relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 20;
  text-transform: uppercase;
  color: #C10016;
  font-weight:800px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  margin-right:0 px;
}

.myButton {
	background-color:#C10016;
	border-radius:11px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
  font-size:12px;
  text-transform: uppercase;
	padding:14px 35px;
	text-decoration:none;
}
.myButton:hover {
	background-color:rgba(137, 17, 17, 0.843);
}
.myButton:active {
	position:relative;
	top:1px;
}

.btn {
  display: flex;
  direction: column;
  justify-content: center;
  align-items: flex-end;  
}

.tabs-controls {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 50px 0 100px;
  list-style-type: none;
  
}

.tabs-controls__link {
  
  font-family: 'Montserrat', sans-serif;
  position: relative;
  display: block;
  padding: 16px 32px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  text-decoration:none;
  color: #C10016;
 }

 .underline {
  border-bottom: 2px solid currentColor;
  color: #C10016;
}

.colouredCard {
  background-color: #C10016;
  background-image: none;
   ;
}

.colouredText {
  color: white;
}

.colouredTitle {
  color: white;
}

.img {
  width: 550px;
  height: 690px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: 30px;
  transform: translate(-50%, -50%);
  opacity: 0.6;
}

.imgContainer p{
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:black;
  text-align:center;
  line-height:220%;
  font-size: 16px;
  font-family:'Reenie Beanie';
      
}

.imgContainer h3{
  position: absolute;
  top: 26%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:#C10016;
  text-transform: uppercase;
  font-family:'Reenie Beanie';
  line-height:200%;
}

 .StartBtn {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:#C10016;
  text-transform: upperrcase;
 }
 
 #backgroundWhite {
  position: absolute;
  top: 0;
  left: 0%;
  background:white;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
 }

 
